{% extends '@SonataAdmin/CRUD/edit.html.twig' %}


{% block sonata_tab_content %}
    {{ parent() }}
    {% if app.request.get('_route') == 'admin_app_eleve_edit' %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                Changement du mot de passe
                            </h4>
                        </div>
                        <div class="box-body">
                            <a class="btn btn-primary" href="{{ admin.generateObjectUrl('reset', object) }}"><i
                                        class="fa fa-minus-circle" aria-hidden="true"></i> Réinitialiser mot de passe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if 'create' in url %}
        <div class="col-md-12" id="aideInfo">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                Exemple d'utilisation
                            </h4>
                        </div>
                        <div class="box-body">
                            Les champs doivent respecter l'ordre suivant: Nom;Prenom,Division,Situtation de l'élève <br>
                            Le nom des champs n'a pas d'importance.<br><br>
                            <img src="{{ asset('assets/images/exemple.png') }}" class="img-fluid"
                                 alt="Responsive image">
                            <img src="{{ asset('assets/images/exemple2.png') }}" class="img-fluid"
                                 alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sonata_form_actions %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            datepickerFormater();

            $(".label_file").text("Selectionner un csv");

        });

        function updateButton() {
            setTimeout(function () {
                let liA = $('.nav-tabs').children('.active').text().trim();

                if (liA.includes("Importation CSV")) {
                    requireImport();
                    $('#importButton').show();
                    $('#aideInfo').show();
                    $('button[name^=btn_create_and_]').hide();
                } else if (liA.includes("Ajout Unique")) {
                    requireEleve();
                    $('#importButton').hide();
                    $('#aideInfo').hide();
                    $('button[name^=btn_create_and_]').show();
                }
            }, 0);
        }

        function requireImport() {
            $('input[id*=file]').attr('required', 'required');
            $('.js-datepicker').attr('required', 'required');

        }

        function requireEleve() {
            $('input[id*=file]').removeAttr('required');
            $('.js-datepicker').removeAttr('required');

        }

        $('.nav-tabs')
            .ready(function () {
                updateButton();
            })
            .click(function () {
                updateButton();
            });
        $("*[id$='division']").on('shown.bs.modal', function () {
            $('.use1').addClass('unuse1').removeClass('use1');
            $('.use2').addClass('unuse2').removeClass('use2');
            datepickerFormater();
        }).on('hidden.bs.modal', function () {
            $('.unuse1').addClass('preuse1').removeClass('unuse1');
            $('.use1').addClass('unuse1').removeClass('use1');
            $('.preuse1').addClass('use1').removeClass('preuse1');
            $('.unuse2').addClass('preuse2').removeClass('unuse2');
            $('.use2').addClass('unuse2').removeClass('use2');
            $('.preuse2').addClass('use2').removeClass('preuse2');
        });
    </script>


    {% if 'create' in url %}
        <button class="btn btn-success" id="importButton" onclick="checkForm()"> Valider</button>
    {% endif %}

    <div id="loader" style="display: none " class="modal">
        <div class="modal-content" style="text-align: center; margin-top: 15em; margin-left: 25em; margin-right: 25em">
            <img src="{{ asset('assets/images/loader.webp') }}" alt=""/>
            <h4 id="modalLoaderImport">import en cours</h4>
            <br>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function changeText() {
            $(".label_file").text($('.hidden').val().substr(12));

        }

        function checkForm() {

            $(":input[type!=file]").each(function () {
                $(":input[class!=js-datepicker]").each(function () {
                    $(this).val('-1');

                    $('#loader').css("display", "block");

                })
            });
        }


    </script>


    <script src="{{ asset('assets/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js') }}"></script>
    <link href="{{ asset('assets/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css') }}"
          rel="stylesheet"/>


    <script>
        function datepickerFormater() {
            let date1 = $('.datepicker1');
            let date2 = $('.datepicker2');
            valid();
            let exec;

            date1.each(function () {
                if ($(this).hasClass('formated')
                ) {
                    exec=1;
                } else {
                    $(this).wrap('<div class="input-group input-daterange col-md-2">' +
                        '</div>'
                    )
                        .after(
                            '<div class="input-group-addon">' +
                            'to' +
                            '</div>' +
                            '<input type="text" required="required" class="js-datepicker datepicker2 form-control hasDatepicker use2">'
                        );
                    date2.ready(function () {

                        $('.js-datepicker')
                            .datepicker({
                                format: "yyyy",
                                viewMode: "years",
                                minViewMode: "years",
                                maxViewMode: "years",
                            }).val('');

                    });
                    $(this).addClass('formated use1');
                }
            });
            $('.use1')
                .on("change", function () {
                    $(this).datepicker("hide");
                    let year = parseInt($('.use1').val());
                    $('.use2').val((year + 1));

                });
            $('.use2')
                .on("change", function () {
                    $(this).datepicker("hide");
                    let year = parseInt($('.use2').val());
                    $('.use1').val((year - 1));
                });


        }

        function valid() {
            $(":submit").click(function () {
                let nom = $('.modal input[id*=nom]:visible');

                if (nom.val() != "") {
                    let dt1 = $('.use1');
                    let dt2 = $('.use2');
                    if (dt1.val() != '') {
                        if (dt2.val() != '') {
                            let yearToYear = dt1.val().toString() + "-" + dt2.val().toString();
                            dt1.val(yearToYear);
                            dt2.remove();
                        }
                    }
                }


            });
        }

        $('.js-datepicker').ready(function () {
            datepickerFormater();

        });
    </script>

{% endblock %}