{# templates/sonata/eleve/importEleveButton.html.twig#}

<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('import') }}">
        <i class="fa fa-level-up"></i>{{ 'Importer'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>