{# templates/sonata/eleve/importEleveButton.html.twig#}

<a href="{{ admin.generateObjectUrl('reset', object) }}" class="btn btn-sm btn-default delete_link" title="Reset Mot de passe">
    <i class="fa fa-times" aria-hidden="true"></i>
    Réinitialiser mot de passe
</a>