<p style="color: black">Bonjour,</p>

<p style="color: black">Une demande de changement du mot de passe a été formulée. Cliquez sur ce lien pour changer votre mot de passe :</p>
<a href="{{ lien }}">Changer votre mot de passe</a>
<p style="color: black">Ce lien est actif pendant 20 minutes.</p>
<br>
<strong style="color: black">Vous n'avez pas formulé la demande ?</strong>
<br>
<p style="color: black">Du fait que la demande de changement se base que par l'email, il est posssible que quelqu'un est rentré la votre.
    <br>
    Cependant votre compte n'est pas en danger, il faut avoir le lien ci-dessus pour la changement du mot de passe
    <br>
    vous n'avez donc rien à craindre.
    <br>


    Cordialement <br>
    La plateforme Stage du Collège les Capucins</p>