{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_nav %}
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
           role="button" title="{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}">
            <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
        </a>

        <div class="dropdown pull-right" style="margin: 0.6em;">
            <a href="{{ path('index') }}">
                <button class="btn btn-info" type="button"> Retour au site</button>
            </a>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> {{ app.user }}
                <span class="caret" ></span></button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('sonata_admin_dashboard') ~ '/../app/admin/' ~ app.user.id ~ '/edit'}}">Mon Compte</a></li>
                <li><a href="{{ path('reset_password')}}">Changer mot de passe</a></li>
                <li><a href="{{ path('logout') }}">Se Déconnecter</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block sonata_admin_content %}
    {% set disablebut = false %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/sonata.css') }}"/>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Générer un nouveau mot de passe</div>
            </div>
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">
                    <div class="form-group" role="group">
                        {{ form_start(form) }}
                        {% for message in app.flashes('notice') %}
                            {% set disablebut = true %}
                            Le nouveau mot de passe est <b>{{ message }}</b> notez le soigneusement!
                        {% endfor %}
                        {% for message in app.flashes('user') %}Vous vous apprêtez à générer un nouveau mot de passe pour <b> {{ message }} </b>
                        <p><b>Cette action est irrémédiable, êtes-vous sur de vouloir faire ceci ?</b></p>{% endfor %}
                        <div>
                            <div style="margin-top: 1em;float: right">
                                {% if disablebut != true %}
                                <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true"></i> Reset le mot de passe
                                </button>
                                {% endif %}
                                <a class="btn btn-success" href=" {{ path('admin_app_eleve_list') }}">
                                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                                    Revenir à la liste</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}