{% extends 'base.html.twig' %}

{% block title %}Changement Mot de passe{% endblock %}
{% block titre %}Mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/Login_v10/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/Login_v10/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/Login_v10/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Login_v10/vendor/animate/animate.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/Login_v10/vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/Login_v10/vendor/animsition/css/animsition.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Login_v10/vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('assets/Login_v10/vendor/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Login_v10/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/Login_v10/css/main.css') }}">
{% endblock %}
{% block body %}
    <div class="row align-items-center" style="height: 100%">
        <div class="col-md-6 mx-auto">
            <form class="login100-form validate-form flex-sb flex-w" method="post">
                {{ form_start(form) }}
                <span class="login100-form-title p-b-51">
						<i class="fas m-auto text-primary"></i>&nbsp;&nbsp;&nbsp;Changement du mot de passe
					</span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="L'ancien mot de passe est requis">
                    {{ form_row(form.oldPassword) }}
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Ancien mot de passe requis">
                    {{ form_row(form.password.first) }}
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Le mot de passe est requis">
                    {{ form_row(form.password.second) }}
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div></div>
                    <div class="container-login100-form-btn m-t-17 col-md-4" style="padding-right: 0;">

                        <button type="submit" class="login100-form-btn" style="background-color: #007bff">
                            Valider
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/Login_v10/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/vendor/animsition/js/animsition.min.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/vendor/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/vendor/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/vendor/countdowntime/countdowntime.js') }}"></script>
    <script src="{{ asset('assets/Login_v10/js/main.js') }}"></script>
{% endblock %}