{% extends 'reset_password/index.html.twig' %}

{% block title %}Changement du mot de passe Admin{% endblock %}

{% block body %}

    <div class="row align-items-center" style="height: 100%">
        <div class="col-md-6 mx-auto">
            <form class="login100-form validate-form flex-sb flex-w" method="post">
                {{ form_start(form) }}
                <span class="login100-form-title p-b-51">
						<i class="fas m-auto text-primary"></i>&nbsp;&nbsp;&nbsp;Changement du mot de passe
					</span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Nouveau mot de passe">
                    {{ form_row(form.password.first) }}
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Répétez le mot de passe">
                    {{ form_row(form.password.second) }}
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24">

                    <div>
                    </div>
                    <div class="container-login100-form-btn m-t-17 col-md-4" style="padding-right: 0;">

                        <button type="submit" class="login100-form-btn" style="background-color: #007bff">
                            Valider
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}