{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
           role="button" title="{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}">
            <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
        </a>

        <div class="dropdown pull-right" style="margin: 0.6em;">
            <a href="{{ path('download_pass_eleve') }}">
                <button class="btn btn-info" type="button"> Télécharger les mots de passe</button>
            </a>
            <a href="{{ path('index') }}">
                <button class="btn btn-info" type="button"> Retour au site</button>
            </a>
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> {{ app.user }}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('sonata_admin_dashboard') ~ '/../app/admin/' ~ app.user.id ~ '/edit' }}">Mon
                        Compte</a></li>
                <li><a href="{{ path('reset_password') }}">Changer mot de passe</a></li>
                <li><a href="{{ path('logout') }}">Se Déconnecter</a></li>
            </ul>
        </div>


        <div class="navbar-left">
            {% block sonata_breadcrumb %}
                <div class="hidden-xs">
                    {% if _breadcrumb is not empty or action is defined %}
                        <ol class="nav navbar-top-links breadcrumb">
                            {% if _breadcrumb is empty %}
                                {% if action is defined %}
                                    {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                        {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                        {%- set label = menu.label -%}
                                        {%- if translation_domain is not same as(false) -%}
                                            {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                        {%- endif -%}

                                        {% if not loop.last %}
                                            <li>
                                                {% if menu.uri is not empty %}
                                                    <a href="{{ menu.uri }}">
                                                        {% if menu.extra('safe_label', true) %}
                                                            {{- label|raw -}}
                                                        {% else %}
                                                            {{- label -}}
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    <span>{{ label }}</span>
                                                {% endif %}
                                            </li>
                                        {% else %}
                                            <li class="active"><span>{{ label }}</span></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{ _breadcrumb|raw }}
                            {% endif %}
                        </ol>
                    {% endif %}
                </div>
            {% endblock sonata_breadcrumb %}
        </div>

        {% block sonata_top_nav_menu %}
            {% if app.user and is_granted(sonata_admin.adminPool.getOption('role_admin')) %}
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% block sonata_top_nav_menu_add_block %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i
                                            class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                {% include get_global_template('add_block') %}
                            </li>
                        {% endblock %}
                        {% block sonata_top_nav_menu_user_block %}
                            <li class="dropdown user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down"
                                                                                           aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    {% include get_global_template('user_block') %}
                                </ul>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
    </nav>
{% endblock sonata_nav %}