{% extends 'base.html.twig' %}
{% block body %}
    <div class="row align-items-center" style="height: 100%">
        <div class="col-md-6 mx-auto">
            <h2>Le fichier n'existe plus</h2>
            <a href="{{ path('sonata_admin_dashboard') }}">Revenir au panel administrateur</a>
        </div>
    </div>
{% endblock %}
