{% extends 'base.html.twig' %}

{% block title %}{% block titre %}Liste des entreprises{% endblock %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}



    <style>
        #trOnclick:hover {
            color: #007bff
        }




    </style>
{% endblock %}

{% block body %}

    <div class="container">

        <div class="card">
            <nav>
                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-tableau-tab" data-toggle="tab" href="#nav-tableau"
                       role="tab"
                       aria-controls="nav-home" aria-selected="true">Tableau</a>
                </div>
            </nav>

            <div class="card-body">
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-tableau" role="tabpanel"
                         aria-labelledby="nav-carte-tab">


                        <table id="dtHorizontal" class="table table-striped table-bordered  display nowrap"
                               cellspacing="0" width="100%">
                            <thead >
                            <tr>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Ville</th>
                                <th>Code Postal</th>
                                <th>Secteur</th>
                                <th>Email</th>
                                <th>Telephone</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entreprise in entreprises %}
                                {% if entreprise.affichage == 'true' %}
                                    <tr id="trOnclick"
                                        onclick="window.location='{{ path('entreprise') }}/{{ entreprise.id }}' "
                                        style="cursor: pointer; ">
                                        <td>{{ entreprise.nom }}</td>
                                        <td>{{ entreprise.adresse }}</td>
                                        <td>{{ entreprise.ville }}</td>
                                        <td>{{ entreprise.codepostal }}</td>
                                        <td>{{ entreprise.secteur }}</td>
                                        <td>{{ entreprise.email }}</td>
                                        <td>{{ entreprise.telephone }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/datatables.css') }}"/>

    <script type="text/javascript"  charset="utf8"  src="{{ asset('assets/DataTables/datatables.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#dtHorizontal').DataTable( {
                "scrollX": true,
                "order": [[ 0, "asc" ]]
            } );
        } );
    </script>

{% endblock %}



