{% extends 'base.html.twig' %}

{% block title %}{% block titre %} {{ entreprise.nom }} {% endblock %}{% endblock %}

{% block body %}
    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
        <div class="features-icons-icon d-flex">
            <i class="far fa-building m-auto text-primary"></i>
        </div>
        <h3>{{ entreprise.nom }}</h3>
    </div>
    <div class="row justify-content-md-center">
        <div class="card w-75">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5>Addresse</h5>
                        <p><span class="glyphicon glyphicon-home"></span> {{ entreprise.adresse }}</p>
                    </div>
                    <div class="col">
                        <h5>Ville</h5>
                        <p> {{ entreprise.ville }}</p>
                    </div>
                    <div class="col">
                        <h5>Code postal</h5>
                        <p> {{ entreprise.codePostal }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Email</h5>
                        <p> {{ entreprise.email }}</p>
                    </div>
                    <div class="col">
                        <h5>Telephone</h5>
                        <p> {{ entreprise.telephone }}</p>
                    </div>
                    <div class="col">
                        <h5>Secteur</h5>
                        <p> {{ entreprise.secteur }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}