{% extends 'base.html.twig' %}
{% block title %}{{ titre }}{% endblock %}
{% block body %}
    <div class="row align-items-center" style="height: 100%">
        <div class="col">
            <a href="{{ path('entreprise') }}" style="color: inherit; text-decoration: none">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="far fa-building m-auto text-primary"></i>
                    </div>
                    <h3>Les Entreprises</h3>
                    <p class="lead mb-0">Contacte une entreprise grâce à cette liste mise à ta disposition</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}