{% extends '@SonataAdmin/CRUD/edit.html.twig' %}


{% block sonata_tab_content %}
    {{ parent() }}

    {% if 'create' in url %}
        <div class="col-md-12" id="aideInfo">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                Exemple d'utilisation
                            </h4>
                        </div>
                        <div class="box-body">
                            Les champs doivent respecter l'ordre suivant: Nom;Ville,Code postal,addresse,email,tel,secteur <br>
                            Le nom des champs n'a pas d'importance.<br><br>
                            <img src="{{ asset('assets/images/exemple3.png') }}" class="img-fluid"
                                 alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sonata_form_actions %}
    {{ parent() }}

    <script>
        $(document).ready(function () {


            $(".label_file").text("Selectionner un csv");

        });

        function updateButton() {
            setTimeout(function () {
                let liA = $('.nav-tabs').children('.active').text().trim();

                if (liA.includes("Importation CSV")) {
                    requireImport();
                    $('#importButton').show();
                    $('#aideInfo').show();
                    $('button[name^=btn_create_and_]').hide();
                } else if (liA.includes("Ajout Unique")) {
                    requireEntreprise();
                    $('#importButton').hide();
                    $('#aideInfo').hide();
                    $('button[name^=btn_create_and_]').show();
                }
            }, 0);
        }

        function requireImport() {
            $('input[id*=file]').attr('required', 'required');

        }

        function requireEntreprise() {
            $('input[id*=file]').removeAttr('required');

        }

        $('.nav-tabs')
            .ready(function () {
                updateButton();
            })
            .click(function () {
                updateButton();
            });


    </script>


    {% if 'create' in url %}
        <button class="btn btn-success" id="importButton" onclick="checkForm()"> Valider</button>
    {% endif %}

    <div id="loader" style="display: none " class="modal">
        <div class="modal-content" style="text-align: center; margin-top: 15em; margin-left: 25em; margin-right: 25em">
            <img src="{{ asset('assets/images/loader.webp') }}" alt=""/>
            <h4 id="modalLoaderImport">import en cours</h4>
            <br>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function changeText() {
            $(".label_file").text($('.hidden').val().substr(12));

        }

        function checkForm() {

            $(":input[type!=file]").each(function () {
                $(this).val('-1');
            });
            $(":input[id*=affichage]").each(function () {
                $(this).val(1);
            });
            $('#loader').css("display", "block");
        }


    </script>




    <script>


    </script>

{% endblock %}