{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="row align-items-center h-100">
        <div class="card-group">
        <div class="col-md-6 mx-auto" style="margin: 1rem">
            <div class="card h-100">
                <div class="card-header">
                    <h3>Elève</h3>
                </div>
                <div class="card-body" style="padding-top: 2.2rem">
                    <h5 class="card-title">Contacte un administrateur</h5>
                    <p class="card-text">La demande doit être faite auprès du personnel de l'établissement afin que
                        ton
                        mot de passe soit réinitialisé</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mx-auto" style="margin: 1rem">
            <div class="card h-100">
                <div class="card-header">
                    <h3>Administrateur</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Entrez votre email ci-dessous</h5>
                    <p class="card-text">Ensuite un email contenant un lien de changement vous sera envoyé.</p>
                    <div>
                        {{ form_start(form) }}
                        <div>
                            {{ form_widget(form.Email) }}
                            {{ form_widget(form.Valider) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}