{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row aln-center">

            <!-- Content -->
            <div id="content" class="col-7 col-6-medium">

                <!-- Post -->
                <article class="box post">
                    <h2 style="margin-bottom: 5%">Création d'un nouveau {{ type }}</h2>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit"
                            style="display: block; margin: 5% 0px 1% auto;">
                        Créer
                    </button>
                    {{ form_end(form) }}
                </article>
            </div>
        </div>
    </div>

{% endblock %}