{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js') }}"></script>
    <link href="{{ asset('assets/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css') }}"
          rel="stylesheet"/>

    <script>
        $(document).ready(function () {
            $('.js-datepicker')
                .wrap('<div class="input-group input-daterange col-md-2">' +
                    '</div>'
                )
                .after(
                    '<div class="input-group-addon">' +
                    'to' +
                    '</div>' +
                    '<input type="text" required="required" class="js-datepicker datepicker2 form-control hasDatepicker">'
                );
            $('.datepicker1')
                .on("change", function () {
                    $(this).datepicker("hide");
                    let year = parseInt($('.datepicker1').val());
                    $('.datepicker2').val((year + 1));
                });
            if ($(":input[type=file][required]") != "") {
            $('#loader').css("display", "block");

            }
            $('.datepicker2')
                .on("change", function () {
                    $(this).datepicker("hide");
                    let year = parseInt($('.datepicker2').val());
                    $('.datepicker1').val((year - 1));
                });

            $("form").submit(function () {
                let dt1 = $('.datepicker1');
                let dt2 = $('.datepicker2');
                let yearToYear = dt1.val().toString() + "-" + dt2.val().toString();
                dt1.val(yearToYear);
                dt2.remove();

            });
        });
        $('.datepicker2').ready(function () {

            $('.js-datepicker')
                .datepicker({
                    format: "yyyy",
                    viewMode: "years",
                    minViewMode: "years",
                    maxViewMode: "years",
                }).val('');

        });

    </script>

{% endblock %}