{% extends '@SonataAdmin/CRUD/edit.html.twig' %}
{% block sonata_tab_content %}
    {{ parent() }}
    {% if app.request.get('_route') == 'admin_app_admin_edit' %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h4 class="box-title">
                            Changement du mot de passe
                        </h4>
                    </div>
                    <div class="box-body">
                        <a class="btn btn-primary" href="{{ admin.generateObjectUrl('reset', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> Reset Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}