<!DOCTYPE html>
<html lang="fr">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Capustages - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet"
              type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
              rel="stylesheet" type="text/css">

        <link href="{{ asset('assets/css/landing-page.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body id="wrapper">

{% block Navigation %}
    <nav class="navbar navbar-light bg-light static-top" style="background-color: #eaeaea;" id="top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">Capustages</a>

            {% if app.user != null %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;{{ app.user }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('sonata_admin_dashboard') }}">Administration</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('reset_password') }}">Changer mot de passe</a>
                        <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                    </div>
                </div>
            {% else %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;Mon Compte
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" style="" href="{{ path('login') }}">Se connecter</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}

<section class="features-icons bg-light text-center" id="middle">
    <div class="container h-100">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}
        {% endblock %}
    </div>
</section>

{% block footer %}
    <footer class="footer" id="bottom">
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Collège Des Capucins
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
